# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Module.symvers
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.cmd
*.order
*.mod.c
.cproject
.project
.tmp_versions
.tmp_version

